Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
# ANS :-
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list based on the integer value using a lambda function
sorted_data = sorted(data, key=lambda x: x[1])

# Print the sorted list
for player, runs in sorted_data:
    print(f'{player}: {runs} runs')

Virat Kohli: 24936 runs
Jack Kallis: 25534 runs
Ricky Ponting: 27483 runs
Sachin Tendulkar: 34357 runs

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# ANS :- 
# List of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use map() and a lambda function 
squares = list(map(lambda x: x**2, numbers))

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings.
Use map and lambda functions 
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
# ANS :- 
# List of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use map() and a lambda function 
strings_tuple = tuple(map(lambda x: str(x), numbers))

# Print the tuple of strings
print(strings_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [4]:
# ANS :- 
from functools import reduce

# Create a list 
numbers = list(range(1, 26))

# Define a lambda function to compute the product of two numbers
product = reduce(lambda x, y: x * y, numbers)

# Print the product
print("The product of numbers from 1 to 25 is:", product)

The product of numbers from 1 to 25 is: 15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [5]:
# ANS :- 
# List of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# function to check if a number is divisible by both 2 and 3
def is_divisible_by_2_and_3(num):
    return num % 2 == 0 and num % 3 == 0

# Use filter() to filter numbers based on the condition
filtered_numbers = list(filter(is_divisible_by_2_and_3, numbers))

# Print the filtered numbers
print("Numbers divisible by both 2 and 3:", filtered_numbers)

Numbers divisible by both 2 and 3: [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [ ]:
# ANS :-